
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* total width and height of an HTML element are calculated. */
  font-family: 'Segoe UI', 'sans-serif';
}


nav {
  background-color: #333333;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 2px solid #d9c7b8;
  height: 96px;
}
/*padding is for inner elements margin is for other/same level elements*/
nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: #d8986d;
} /*for class in nav parent*/


.nav-img {
  width: 80px;   /* sets width */
  height: auto;  /* keeps proportions */
  margin-right: 35px;
}


nav ul {
  list-style: none; /*for look of uh list*/
  display: flex;
  gap: 24px;
}
/*for class in nav parent*/
nav ul li a {
  text-decoration: none;
  color: #d8986d;
  font-weight: 500;
  transition: color 0.3s; /*tranistion time/length*/
}/*for class in nav parent*/

nav ul li a:hover {
  color: #a86c4d;
}
/*for class in nav parent*/

.banner {
  background: url('boba-banner.jpg') center/cover no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}


.catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /*for the cards fr is basically space left after ui  Columns will never shrink smaller than 220px wide. If the screen gets too small for them to fit, they automatically wrap to a new row.The Maximum (1fr): 1 Fraction Unit. If there is extra space on the screen, the columns will expand equally to share and fill that empty space.*/
  gap: 24px;
  padding: 32px;
}

.card {
  background-color: #333333;
  border: 1px solid #7a4545;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  border-radius: 6px;
} /*for class in card it is img parent*/

.card h3 {
  margin: 8px 0;
  color: #d8986d;
} /*for header3*/

.card:hover {
  transform: translateY(-5px);
} /*moves it up a lil*/


footer {
  background-color: #333333;
  text-align: center;
  padding: 16px;
  border-top: 2px solid #d9c7b8;
  color: #d8986d;
  position: fixed;   
  bottom: 0;         
  left: 0;
  width: 100%;
}


.cardButton {
  color:#000000;
  background-color: #a86c4d;
}


.cardPrice {
  color:#a86c4d
}
/*stuff for down for space. section is bigger divieder divever is one gbox element*/
/* left align to left edge  position lock it in place bottom stick to bottom */